
#page {
	border:1px solid #D3D3D3;
	text-align:left;
	width:70%;
	padding:30px;
	border-radius: 2px;
	height:530px;
	font-family: 'PT Sans', sans-serif;
}

h1 {
	font-size:30px;
}

img.pendu {
	float:right;
}

h2 {
	color:grey;
	font-size:16px;
}

#mot {
	margin:30px 0 0 0;
	clear:both;
	top:100px;
}

#mot td {
	padding:10px;
	background-color:#D2CAEC;
	border:1px inset grey;
	border-radius: 4px;
	width:30px;
	height:30px;
	font-weight:bold;
	font-size:1.5em;
	text-align:center;
}

 #mot p{
	visibility:hidden;
}

#clavier{
	border:3px outset #CFA0E9;
	padding:10px;
	border-radius: 4px;
	background-color:#CFA0E9;
}

#clavier td {
	background-color:white;
	border:1px solid black;
	width:45px;
	height:45px;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
}

.lien{
  text-decoration:none;
	color:violet;
	border: 1px solid violet;
	text-align: center;
	padding-top:5px;
	font-size:20px;
	float: right;
	height:40px;
	width:150px;
}

.lien:hover{
	text-decoration: none;
	color:pink;
	font-weight:bold;
	text-decoration:underline;
}
