
#page {
	background-color:fcd315;
	border:1px solid grey;
	text-align:left;
	width:70%;
	padding:30px;
	height:500px;
	font-family: 'Droid Sans', sans-serif;
}

h1 {
	font-size:30px;
}

img.pendu {
	float:right;
}

h2 {
	color:grey;
	font-size:16px;
}

#mot {
	margin:30px 0 0 0;
	clear:both;
	top:100px;
}

#mot td {
	padding:10px;
	background-color:#D2CAEC;
	border:1px inset grey;
	border-radius: 2px;
	width:30px;
	height:30px;
	font-weight:bold;
	font-size:1.5em;
	text-align:center;
}

 #mot p{
	visibility:hidden;
	color:white;
}

#clavier{
	border:3px outset grey;
	padding:10px;
	border-radius: 3px;
	background-color:#DCDCDC;
}

#clavier td {
	background-color:white;
	border:1px solid black;
	width:25px;
	height:25px;
	text-align:center;
	font-weight:bold;
	cursor:pointer;
}

.lien{
	margin-top:90px;
	color:#FF69B4;
	text-decoration:none;
	font-size:20px;
}

a.lien:hover{
	color:red;
	font-weight:bold;
	text-decoration:underline;
}
